body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: beige;
}
.card{
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
    margin:50px auto;
    width: 40%;
    height: auto;
    
}
.col{
    display: flex;
}
.form-outline{
    margin-bottom: 20px;

}

.gender{
    display: flex;
}
.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: large;
}
.input{
    border-radius: 10px 10px ;
    border-color: lightslategrey;
    margin-left: 20px;
    height: 22px;
    width: 60%;
}
fieldset{
    border: 2px solid black;
    height: max-content;
    
}

.button{
   background-color: black;
    border: none;
    color: white;
    width: 18%;
    justify-self: center;
    padding: 15px 25px;
    border-radius: 33px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
}
.form-btn{
    display: grid;
}
.uname{
    margin-left: 95px;
}
.uEmail{
    margin-left: 98px;
}
.uNumber{
    margin-left: 91px;

}
.uDob{
    margin-left:47px;
}
.password{
    margin-left: 70px;
}
.form-check-inline-male{
    margin-left: 60px;
}