@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
}

body {
    background-color: beige !important;
    font-family: Arial;
    overflow: hidden;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.main {
    margin-top: 2%;
    margin-left: 5%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
}

.main h2 {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    background-color: whitesmoke;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}
.txt{
    border-radius: 25px;
    height: 20px;
}
.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.btnupdate {
    background-color: white;
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    border: 2px solid #008CBA;
}

.btnupdate:hover {
    background-color: #008CBA;
    color: white;
}

.col-clock {
    display: flex;
    margin-left: 20%;
    padding: 10px;
    font-size: xx-large;
    height: 60px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    display: inline-flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .navbar-brand {
    color: steelblue;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    color: white;
}

.logout {
    float: right;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 5;
    left: 0;
    background-color: rgb(120, 120, 120);
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(251, 223, 223);
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.row-weather {
    margin-left: 20px;
    margin-top: 10px;
}

.col-gif {
    /* margin-top: 10px; */
    border-style: none;
}

.todo {
    margin-top: 3%;
    z-index: 2;
    position: absolute;
    left: 35%;
}